In [2]:
import json
import pandas as pd

## Creating original dataset files from data_full.json

In [2]:
with open('../original_repository_files/data/data_full.json') as json_data:
    data = json.load(json_data)

In [3]:
df_train_data = pd.DataFrame(data['train'] + data['oos_train'])
df_train_data.columns = ['query', 'label']
df_train_data = df_train_data.sample(frac=1).reset_index(drop=True)
df_train_data.head()

                                               query               label
0            i need an uber to get to dulles airport                uber
1                  what is the full date after today                date
2  can you please tell me the interest rate for c...       interest_rate
3                 what types of subjects do you know  what_can_i_ask_you
4              i do not believe that that is correct                  no

In [4]:
df_val_data = pd.DataFrame(data['val'] + data['oos_val'])
df_val_data.columns = ['query', 'label']
df_val_data = df_val_data.sample(frac=1).reset_index(drop=True)
df_val_data.head()

                                               query             label
0               when is my flight expected to arrive     flight_status
1  could be there be a good amount of money in my...           balance
2           please delete the items on my to do list  todo_list_update
3                                       that's a yes               yes
4                       do you have any dogs or cats  do_you_have_pets

In [5]:
df_test_data = pd.DataFrame(data['test'] + data['test'])
df_test_data.columns = ['query', 'label']
df_test_data = df_test_data.sample(frac=1).reset_index(drop=True)
df_test_data.head()

                                               query              label
0  what sorts of activities should i get up to wh...  travel_suggestion
1                        is my flight, dl123 on time      flight_status
2            i am interested in a new insurance plan   insurance_change
3                             what's on my todo list          todo_list
4  i wanna find a hotel with good reviews in phoenix         book_hotel

In [14]:
df_train_data.to_csv("original_dataset/original_train_data.csv", index = False)
df_val_data.to_csv("original_dataset/original_val_data.csv", index = False)
df_test_data.to_csv("original_dataset/original_test_data.csv", index = False)

## Creating augmented dataset files with generated queries

In [3]:
og_train_data = pd.read_csv('original_dataset/original_train_data.csv')
og_val_data = pd.read_csv('original_dataset/original_val_data.csv')
og_test_data = pd.read_csv('original_dataset/original_test_data.csv')

In [8]:
generated_data = pd.read_excel('generated_queries/generated_data.xlsx', sheet_name='generated_data_v2')

In [14]:
augmented_test_data = pd.concat([og_train_data, generated_data], axis=0)
augmented_test_data = augmented_test_data.sample(frac=1).reset_index(drop=True)
augmented_test_data.head()

                                               query                label
0  Can I get a credit limit increase if I don't u...  credit_limit_change
1  I need you to order a new set of baking sheets...                order
2  Can I transfer money to a different bank's mon...             transfer
3                    Is it going to be cool outside?              weather
4  Can you create a timer for 1 hour and 30 minutes?                timer

In [16]:
augmented_test_data.to_csv("augmented_dataset/augmented_train_data.csv", index = False)